{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <a href="#"><img src="images/project-1.jpg" alt="" class="img-responsive">
        <span>Courses</span>
        </a>
    </div>
    <div class="right-panel">
        <p><strong>Mualliflar:</strong> <a href="">A.N.Hamroev</a></p>
        <p><strong>Nashriyot:</strong> <a href=""></a></p>
        <p><strong>Resursni qo'shgan muassasa:</strong><a href="#"></a></p>

    <div class="info-tags">
        <span class="tag">Resurs turi: <strong>Darslik</strong></span>
        <span class="tag">Categoriya: <strong>Course</strong></span>
        <span class="tag">Ko'rishlar soni: <strong>3</strong></span>
    </div>

        <p class="description"></p>

        <div class="buttons">
            <button class="telegram"> Telegram</button>
            <button class="read">📖 Kitobni o'qish</button>
            <button class="download">🔽 Yuklab olish</button>
        </div>
    </div>
</div>

{% endblock content %}	
